body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}
html {
    height: 100vh;
}
@keyframes modalappear {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0.2;
    }
    40% {
        opacity: 0.5;
    }
    60% {
        opacity: 0.7;
    }
    80% {
        opacity: 0.9;
    }
100% {
    opacity: 1;
}
}
.container {
    position: absolute;
    right: 20px;
    bottom: 20px;
   
}
.applyed {
    
    display: flex;
}
/* .applyed p {
    padding: 5px 10px;
} */
.modal {
    display: none; 
    z-index: 1;
    animation-name: modalappear; 
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-duration: 2s;
}

.modal-content {
    display: flex;
    flex-direction: column; 
    width: 350px;
    border: 1px solid black;
    background-color: beige;
    padding: 10px;
}
.close-btn {
    text-align: right;
}
.help-btn {
    background-color: blue;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
    margin-top: 20px;
    float: right;
}
.submit-btn {
    background-color: blue;
    color: white;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 5px;
}
.error {
    color:red;
    display: none;
}
input:valid {
    border: 1px solid black;
}
