* {
  margin: 0;
  font-size: 20px;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: azure;
}
main {
  margin: 0 auto;
}
.container {
  margin: 250px auto;
  display: flex;
  flex-direction: column;
  background-color: rgb(62, 52, 111);
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 250px;
  overflow: hidden;
  width: 500px;
}
h1 {
  color: white;
  font-size: 26px;
  font-weight: 500;
}
.order-cart {
  display: flex;
  justify-content: space-between;
  width: 80%;
  color: white;
}
.order-list {
  display: flex;
  
  color: white;
  width: 80%;
}
#product-input {
  flex: 2;
}
.btn {
  flex: 1;
}
.icons {
  display: flex;
  gap: 6px;
  flex: 1;
}
.material-symbols-outlined {
  font-size: 20px;
}
.edit {
  color: blue;
  background-color: rgb(62, 52, 111);
  border: none;
}
.delete {
  color: red;
  background-color: rgb(62, 52, 111);
  border: none;
}
.grocery {
  display: flex;
  flex: 3;
}
.hidden {
  display: none;
}

#remove-btn {
  width: 80%;
}
